<div class="jumbotron">
  <h1>LegalDown Document Generator</h1>
  <p class="lead">
    Create legal documents from open-source form documents.
  </p>
  <p>Choose your document collection:
    <select
      class="form-control"
      ng-model="collectionName"
      ng-options="project for project in projects"
      ng-change="selectCollection(collectionName)">
      <option value="">Choose document collection</option>
    </select>
  </p>
</div>

<ul>
  <li ng-repeat="doc in documents">
    {{doc.docName}}
    <div ld-rendered-markdown
      contents="doc.contents">
    </div>
  </li>
</ul>
