<div class="jumbotron">
  <h1>LegalDown Document Generator</h1>
  <p class="lead">
    Create legal documents from open-source form documents.
  </p>
  <p>Choose your document collection:
    <select
      class="form-control"
      ng-model="collectionName"
      ng-options="project for project in projects"
      ng-change="selectCollection(collectionName)">
      <option value="">Choose document collection</option>
    </select>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <div id="ld-document-variables">
        <div ng-repeat="variable in variables.names" class="form-section">
          <label class="form-label">
            {{variable}}
          </label>
          <input type="text" ng-model="variableValues[variable]" class="form-control" ng-click="scrollToVariable(variable)"/>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <div id="ld-document-collection-preview">
        <ul>
          <li ng-repeat="doc in documents">
            {{doc.docName}}
            <div ld-rendered-markdown
              contents="doc.contents"
              variable-values="variableValues"
              variables="variables">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
