.ld-numbered-section {
  list-style-type: none;
  margin-left: 10px;
}

.ld-numbered-section-ordinal {
  display: block;
  float: left;
  margin-left: -50px;
}

.ld-underline {
  text-decoration: underline;
}

.ld-blank-line {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

* {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

p {
  text-indent: 50px;
}

h1 {
  font-size: 140%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

h5 {
  font-size: 105%;
}

h6 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

table td {
  padding: 5px;
}


@media print{
  hr {
    page-break-after: always;
    visibility: hidden;
  }
}
